<!-- templates/make_appointments.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block scripts %}
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<!-- XDSoft DateTimePicker -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">

{% endblock %}

{% block styles %}
	<style>
      body {
        background-image: linear-gradient(to right, mediumpurple,Plum);
      }

      .form-div{
        background-color: lightgrey;
        position: relative;
        left:  300px;
        top:  -250px;
        padding: 10px 15px 5px 35px; 
        border: 1px solid pink;
        border-radius: 5px;
        font-size: 1.1em;
      }

      .logo {
        position: relative;
        left:  40px;
        bottom:  -250px;
      }

      .image {
       position: relative;
       left: -200px;

      }

      .title {
        position: relative;
        left: 50px;
      }
  </style>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class='container'>
	<div class="logo">
		<h1>Hairointment</h1>
		<h3>The look you want for less...</h3>
	</div>
	<div class="image">
		{% load static %}
		<img src="{% static '/images/air2.png' %}" alt="air">
	</div>
	<div class="row">
		<div class="col-md-4 offset-md-4 form-div login">
			<form>
				<div class="title">
					<h3> Γειά σου, {{ user.username }}! </h3>
				</div>
				<div class='form-group'>
				<h2> Κλείσε ραντεβού στο {{ st_name }} </h2>
					<form method="post" action="{% url 'check_availability' st_name %}">
						{% csrf_token %}
						<p> Ημέρα και ώρα του ραντεβού: </p>
						<p> {{ form.date }} </p>
						<br/>
						<p> Messages: {{ msg }} </p>
						<br/>
						<Button type="submit"> Κλείσε ραντεβού </Button>
					</form>
				</div>
				<div class='form-group'>
					<p><a href="{% url 'logout' %}">Log Out</a></p>
					<p><a href="{% url 'search_stores' %}">Αναζήτηση καταστημάτων</a></p>
				</div>
			</form>
		</div>
	</div>
</div>
  
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}

{% block bodyscripts %}
	<script>
		window.ready = $(function () {
			$("#id_date").datetimepicker();
			console.log('Fired');
		});
	</script>

{% endblock %}
